/* Have fun. This is your site. */

/* styles.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('bg-426b328.jpg') no-repeat center center fixed;
  background-size: cover;
}


/* Main Container */
main {
  width: 100%;
  /* centers container to page */
  margin-inline: auto;
  
  /* adjust to your design */
  max-width: 40em;
}

p {
  color: black;
  font-size: 3em;
  
}


